@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clinic Manager</h1>
    <p>Welcome</p>

    <p style="align-content:center">
        Please use the navigation bar to explore the application and manage your appointments and bookings.
    </p>
</div>
